* {
    text-align: center;
    /* border: 1px solid red;
    box-sizing: border-box; */
}

:root {
    --backgroundColor: lightgray;
    --textColor: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: sticky;
    top: auto;
    width: 100%;
    padding: 10px;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

header h1 {
    margin: 0px;
    text-shadow:0 0 3px green, 0 0 5px blue;
}

header h3 {
    margin: 0px;
    padding: 5px;
}

main {
    height: 90vh;
}

#logoContainer {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

#logo {
    max-width: 100%;
    height: auto;
}

#myForm {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#searchBox {
    width: 75%;
    font-size: 18px;
    border-radius: 20px;
    padding: 6px 12px;
    margin: 10px;
}

#buttonContainer {
    width: 75%;
}

input[type="submit"] {
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding: 6px 12px;
    margin: 10px;
}

footer {
    width: 100%;
    position: sticky;
    bottom: auto;
    padding: 10px;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

footer h2 {
    margin: 0px;
    text-shadow:0 0 3px green, 0 0 5px blue;
}

footer p {
    margin: 0px;
    padding: 5px;
}